body {
    font-family: 'Lato', sans-serif;
    background-color: #E8E8E8;
    background-image: url("bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow:inset 0 0 0 2000px rgba(190, 190, 190, 0.8);
    text-align: center;
}
a {
  text-decoration: none;
  color: #222831;
}
h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: #222831;
    padding-top: 150px;
    margin-bottom: 40px;
    text-align: center;
}
button {
    margin-right: 40px;
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    border: 1px solid #222831;
    background:white;
    font-size: 1.6rem;
    color: #222831;
    text-decoration: none;
}
button:hover {
    background: #222831;
    color: white;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}
button:hover a{
    color: white;
}