<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Servlet_Image_Handler</servlet-name>
        <servlet-class>Servlets.Servlet_Image_Handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchData</servlet-name>
        <servlet-class>Servlets.FetchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetch_Image</servlet-name>
        <servlet-class>Servlets.Fetch_Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_Image</servlet-name>
        <servlet-class>Servlets.Remove_Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Individual_Image_View</servlet-name>
        <servlet-class>Servlets.Individual_Image_View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDatabase</servlet-name>
        <servlet-class>Servlets.SearchDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>Servlets.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Metadata</servlet-name>
        <servlet-class>Servlets.Change_Metadata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Image_Handler</servlet-name>
        <url-pattern>/Servlet_Image_Handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchData</servlet-name>
        <url-pattern>/FetchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch_Image</servlet-name>
        <url-pattern>/Fetch_Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_Image</servlet-name>
        <url-pattern>/Remove_Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Individual_Image_View</servlet-name>
        <url-pattern>/Individual_Image_View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDatabase</servlet-name>
        <url-pattern>/SearchDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Metadata</servlet-name>
        <url-pattern>/Change_Metadata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
